@font-face {
  font-family: micro;
  src: url(../fonts/MicrogrammaDMedExt.ttf);
}
@font-face {
  font-family: trebu;
  src: url(../fonts/trebuc.ttf);
  font-weight: normal;
}
@font-face {
  font-family: trebu;
  src: url(../fonts/trebucbd.ttf);
  font-weight: bold;
}
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
input,
select {
  padding: 3px;
}
.navbar {
  margin-bottom: 0px !important;
  background: #C3262E;
  border-bottom: 2px solid #222;
}
.navbar.navbar-inverse li a {
  color: #fff;
}
.navbar.navbar-inverse li a:hover,
.navbar.navbar-inverse li a.selected {
  color: #222 !important;
  font-weight: bold;
}
.navbar.navbar-inverse li a:active {
  color: #222 !important;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-family: 'trebu';
  font-size: 2em;
  color: #fff;
}
.navbar .navbar-brand img {
  display: inline-block;
  height: 30px;
  margin-top: -4px;
  margin-right: 10px;
}
.navbar #eventeng-link {
  font-weight: bold;
}
.jumbotron {
  background-color: #222;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,ffffff+50,000000+100 */
  background: #222;
  /* Old browsers */
  background: -moz-linear-gradient(left, #222 1%, #555555 40%, #222 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #222 1%, #555555 40%, #222 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #222 1%, #555555 40%, #222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@black', endColorstr='@black', GradientType=1);
  /* IE6-9 */
  margin-bottom: 0;
  color: #fff;
  border-bottom: 2px solid #222;
}
.jumbotron .container {
  position: relative;
}
.jumbotron .company {
  margin-top: -10px;
  margin-bottom: -20px;
  text-align: right;
}
.jumbotron .company a {
  color: #fff;
  text-decoration: none;
}
.jumbotron .company span {
  display: block;
  font-weight: bold;
  font-family: 'trebu';
  font-size: .8em;
}
.jumbotron .company img {
  height: 50px;
}
.jumbotron h1 {
  font-weight: bold;
  font-family: 'trebu';
}
.jumbotron .btn {
  background-color: #C3262E;
  border-color: #430d10;
}
.jumbotron .btn:hover {
  background-color: #da424a;
  color: #430d10;
  font-weight: bold;
}
.jumbotron .btn .glyphicon {
  margin-right: 10px;
}
.news {
  border-bottom: 2px solid #222;
  background: #ddd;
  background: -moz-linear-gradient(top, #f4f4f4 1%, #cccccc 100%);
  background: -webkit-linear-gradient(top, #f4f4f4 1%, #cccccc 100%);
  background: linear-gradient(to bottom, #f4f4f4 1%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#cccccc', GradientType=0);
}
.news h1 {
  margin-top: 10px;
  color: #C3262E;
  font-weight: bold;
  font-size: 2em;
}
.news p {
  font-weight: bold;
}
.news a {
  color: #C3262E;
  font-weight: bold;
}
.features {
  margin-top: 30px;
}
.features .main-title h2 {
  margin-top: 00px;
  margin-bottom: 10px;
}
.features h2 {
  color: #C3262E;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 40px;
}
.features img {
  max-width: 100%;
}
.features .feature a {
  text-decoration: none;
  color: inherit;
}
.features .feature .frame {
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 1px 1px 20px 1px;
}
.features .feature .frame:hover {
  margin: 0 0 19px 0;
  border: 2px solid #C3262E;
  cursor: pointer;
}
.features .feature .frame:hover .fa {
  color: #C3262E;
}
.features .feature .frame .fa {
  font-size: 5em;
}
ul.docs-sidenav {
  margin-top: 20px;
}
ul.docs-sidenav li.active {
  border-left: 3px solid #C3262E;
}
ul.docs-sidenav li.active a {
  padding-left: 12px;
  color: #C3262E;
}
ul.docs-sidenav li a {
  box-sizing: border-box;
  padding: 5px 15px;
  font-weight: bold;
  color: #999;
}
ul.docs-sidenav li a.indent {
  padding-left: 30px;
  color: #d17e82;
}
ul.docs-sidenav li a:hover {
  color: #C3262E;
}
.docs a.anchor {
  display: block;
  position: relative;
  margin-top: -20px;
  padding-top: 20px;
  visibility: hidden;
}
.docs .intro {
  box-sizing: border-box;
  margin-top: 40px;
  border-top: 2px solid #C3262E;
  border-bottom: 2px solid #C3262E;
  padding: 10px;
  background-color: #fcf1f1;
  font-size: 18px;
  color: #000;
}
.docs .intro i {
  font-size: 65px;
  color: #C3262E;
}
.docs .intro p:last-child {
  margin-bottom: 0;
}
.docs .intro a {
  color: #C3262E;
  font-weight: bold;
}
.docs article {
  position: relative;
  margin-top: 50px;
}
.docs article .primary {
  color: #C3262E;
  font-weight: bold;
}
.docs article h1 {
  border-bottom: 1px solid #C3262E;
  padding-bottom: 10px;
  font-weight: bold;
}
.docs article h1 .datestamp {
  color: #C3262E;
}
.docs article h1 .doc-link,
.docs article h1 .datestamp {
  margin-left: 20px;
  font-size: 20px;
  vertical-align: middle;
  white-space: nowrap;
}
.docs article h1 .doc-link i,
.docs article h1 .datestamp i {
  font-size: .9em;
}
.docs article h2 {
  font-size: 25px;
  margin-top: 30px;
  font-weight: bold;
}
.docs article h3 {
  margin-top: 18px;
  font-size: 17px;
  font-weight: bold;
}
.docs article a {
  color: #C3262E;
  font-weight: bold;
}
.docs article p.info {
  padding: 5px 10px;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color: #F0F0F0;
}
.docs article .param {
  font-weight: bold;
  font-style: italic;
}
.docs article button,
.docs article select {
  margin-right: 20px;
}
.docs article table.plain {
  width: 100%;
}
.docs article table.plain td,
.docs article table.plain th {
  border: 1px solid #999;
  padding: 3px;
}
.docs article table.plain th {
  background: #eee;
}
.docs article table:not(.plain) {
  width: 100%;
}
.docs article table:not(.plain) thead {
  font-weight: bold;
  background: #ddd;
}
.docs article table:not(.plain) thead th {
  border: 1px solid #999;
}
.docs article table:not(.plain) th,
.docs article table:not(.plain) td {
  border: 1px solid #ccc;
  padding: 5px;
}
.docs article table:not(.plain) tbody tr:nth-of-type(even) td {
  background: #f9f9f9;
}
.docs article table:not(.plain) tbody tr:last-of-type td {
  border-bottom: 1px solid #999;
}
.docs article table:not(.plain) tbody tr td:first-of-type {
  border-left: 1px solid #999;
}
.docs article table:not(.plain) tbody tr td:last-of-type {
  border-right: 1px solid #999;
}
footer {
  margin: 50px 0;
}
